.AccountPage {
  overflow-y: scroll;
}

input, .row .field select {
  width: 100%;
  min-height: 55px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: clamp(1rem, 4vw, 1.5rem);
  outline: none;
  box-shadow: var(--secondary-box-shadow);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.row-persist {
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.sign-in-submit {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 10px;
}

.sign-in-submit p {
  font-size: 0.8rem;
}

.sign-in-submit .submit {
  font-weight: 600;
  color: white;
  background-color: var(--primary-color);
  border: none;
}

form,
.Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row div {
  flex: 1;
}

.row-2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* in row 2, it should be 75 25 */
.row-2 div {
  flex: 1;
}

.Profile .row-2 {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr;
}

.Profile .field input {
  background-color: #cccccc52;
  color: rgb(140, 140, 140);
}

@media (max-width: 650px) {

  .field input {
    height: 50px;
  }

  .row {
    flex-direction: column;
  }
  .row-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .Profile .row-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}

