.AccountPage {
  overflow-y: scroll;
}

.AccountPage input,
.row .field select {
  width: 100%;
  min-height: 55px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: clamp(1rem, 4vw, 1.5rem);
  outline: none;
  box-shadow: var(--secondary-box-shadow);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.row-persist {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sign-in-submit {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 10px;
}

.sign-in-submit p {
  font-size: 0.8rem;
}

.sign-in-submit .submit {
  font-weight: 600;
  color: white;
  background-color: var(--primary-color);
  border: none;
}

form,
.Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Profile .profile-views {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
}
.Profile .profile-views button {
  font-size: clamp(0.8rem, 3vw, 1.25rem);
}

.row div {
  flex: 1;
}

.row-2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* in row 2, it should be 75 25 */
.row-2 div {
  flex: 1;
}

.Profile .row-2 {
  display: grid;
  grid-template-columns: 2.5fr 1fr 0.5fr;
  grid-template-rows: 1fr;
}

.Profile .field input {
  background-color: #cccccc52;
  color: rgb(140, 140, 140);
}

@media (max-width: 750px) {
  .AccountPage input,
  .row .field select {
    min-height: 30px;
    padding: 10px 20px;
  }

  .row {
    flex-direction: column;
  }
  .row-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .Profile .row-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .Profile .profile-views {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
  }
}

.Profile .VolunteerHistory {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
}

.Profile .VolunteerHistory .VolunteerHistoryEvent {
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-shadow: var(--primary-box-shadow);
  height: 100%;
  min-height: 120px;
  border-left: 15px solid var(--primary-color);
  border-radius: 5px;
  justify-content: space-between;
}

.VolunteerHistoryEvent .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-shadow: var(--secondary-box-shadow);
  padding: 5px;

  height: 100%;
  aspect-ratio: 1;
}

.right .num {
  font-size: 3.5rem;
  color: gold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}
