.CalendarPage {
  overflow-y: scroll;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.calendar-scroll-container {
  overflow-x: scroll;
}

.calendar {
  height: 100vh;
  /* width: 100vw; */
  width: 100%;
  min-width: 800px;
  position: relative;
}

select,
textarea {
  appearance: none;
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1.25px solid #ccc;
  width: 200px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--secondary-box-shadow);
}

select:focus {
  outline: none;
}

select:hover {
  box-shadow: var(--primary-box-shadow);
}

select option {
  background-color: #fff;
  color: #000;
}

select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(45deg);
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
  pointer-events: none;
}

.rbc-day-slot .rbc-events-container {
  /* override default with margin right 0 */
  margin-right: 0 !important;
  /* background-color: white !important; */
}

.rbc-day-slot .rbc-event-content {
  min-height: 0 !important;
}

.rbc-event-label {
  font-size: 0.6rem !important;
}

.rbc-agenda-table tr:hover {
  background-color: rgba(197, 197, 197, 0.216);
}

.rbc-event {
  font-size: 0.9rem;
  text-align: left;
  overflow-y: scroll;

  transition: 0.3s cubic-bezier(0.19, 1, 0.19, 1) all;
}

.CalendarPage .calendar {
  transform-origin: top left;
}

.rbc-event-content {
  white-space: pre-line !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  word-wrap: normal !important;
}

.CalendarPage .buttons-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.slider {
  -webkit-appearance: none;
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}



.rbc-event-content:hover {
  overflow: scroll;
}

@media (max-width: 1000px) {
 
  .CalendarPage .rbc-toolbar {
    gap: 5px;
    justify-content: flex-start;
  }

  .rbc-toolbar-label {
    display: none;
  }
}

.CalendarPage .calendar-note {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.CalendarPage .lightbulb-icon {
  width: 30px;
  height: 30px;
}
.CalendarPage .emphasis {
  background-color: var(--tertiary-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* color: var(--primary-color); */
  color: black;

  border: none;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}
.CalendarPage .bold {
  font-weight: 900;
  color: black;
}

.calendar-intro {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.CalendarPage ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

.CalendarPage ul li {
  padding: 4px 0;
  font-size: 1.15rem;
}
