.InnerModal {
  padding: 20px;
  width: 100%;
  height: 100%;
  /* border: 5px solid var(--primary-color); */
  /* border-top: 25px solid var(--primary-color); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: hidden;
}

.sign-up-event {
  box-shadow: var(--secondary-box-shadow);
  background-color: var(--primary-color);
  font-size: 1.75rem;

  color: white;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.disabled {
  background-color: #cccccc52;
  color: rgb(140, 140, 140);
  cursor: not-allowed;
}

.InnerModal hr.divider {
  background-color: var(--accent-color);
  height: 3px;
  margin-bottom: 5px;
}

.InnerModal .emphasis {
  background-color: var(--tertiary-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 500;
  /* letter-spacing: 0.01rem; */
  /* color: var(--primary-color); */
  text-align: left;
}

.InnerModal .modal-body {
  /* border: 1px green solid; */
  height: 100%;
  overflow-y: scroll;
  /* overflow-y: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  /* gap: 15px; */
}

.InnerModal .modal-body .flex-top {
  overflow-y: scroll;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  /* always show scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;

  background: linear-gradient(
    to bottom var(--primary-color) 0%,
    transparent 100%
  );
}

.flex-top::-webkit-scrollbar {
  width: 5px;
}

.flex-top::-webkit-scrollbar-track {
  background: transparent;
}

.flex-top::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: transparent;
}

.InnerModal .modal-body .flex-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
}

.note {
  font-size: 0.8rem;
}

.tag-row {
  display: flex;
  width: fit-content;
  height: auto;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.calendar-icon,
.clock-icon,
.user-icon {
  width: 20px;
  height: 20px;
}

.InnerModal .id {
  color: gray;
  font-size: 0.8rem;
}

@media (max-width: 500px) {
  .InnerModal .modal-body .flex-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
  }
}

.InnerModal .flex-top input {
  padding: 8px;
  height: min-content;
  font-size: 1.25rem;
}
.InnerModal .flex-top select {
  padding: 8px;
  height: min-content;
  font-size: 1.25rem;
  width: 100%;
}

.InnerModal .flex-top .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.InnerModal .flex-top .row > div {
  flex: 1;
  width: 100%;
}

.InnerModal label {
  color: gray;
}

.InnerModal .row .input-desc {
  width: 100%;
  height: 100px;
  white-space: pre-line;
  vertical-align: text-top !important;
  resize: none;
}

.InnerModal .modal-table {
  height: 100%;
  margin-left: 0;
  text-align: left;
  white-space: no-wrap;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: scroll;
  width: 100%;

}

.InnerModal .modal-table td,
.InnerModal .modal-table th {
  border: 1px solid #ddd;
  padding: 8px;
  overflow-x: scroll;
}
