.Navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.mini-navbar {
  width: 100vw;
  height: 33px;

  margin-top: -2px;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: var(--primary-color) 5px solid;

  z-index: 1;
}

.main-navbar {
  width: 100vw;
  min-height: 80px;
  background-color: var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
  box-shadow: var(--secondary-box-shadow);
}

.main-navbar .logo {
  cursor: pointer;
}

.main-navbar .logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
  z-index: 100;
}

.main-navbar .links {
  /* border: 1px green dotted; */
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
  padding-right: 0;
  gap: 15%;
}

.main-navbar .links a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

.main-navbar .links .open {
  display: none;
}

.login-btn,
.logout-btn {
  border: none;
  background-color: transparent;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
}

.btn-hide {
  display: none;
}

.main-navbar .links .profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--primary-color);

  /* create background color with slight transparency */
  background-color: rgba(0, 0, 0, 0.268);
}

.main-navbar .links .profile-pic:hover {
  cursor: pointer;
  /* border: 3px dotted var(--primary-color); */
}

.main-navbar .logo-title {
  color: var(--primary-color);
  font-weight: 600;
  font-size: clamp(1rem, 5vw, 2rem);
}

.main-navbar .logo-subtitle {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
}


@media screen and (min-width: 730px) and (max-width: 850px) {
  .main-navbar {
    padding: 0 10vw;
  }

  .main-navbar .links a {
    font-size: 1rem;
  }

  .main-navbar .logo img {
    /* adjust width using clamp */
    width: clamp(300px, 10vw, 500px);
  }

  .mini-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10vw;
  }

  .mini-navbar .links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    gap: 50px;
  }

  .mini-navbar .links a {
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
  }


}

@media screen and (max-width: 760px) {
  .main-navbar .links :not(.open) {
    display: none;
  }

  .main-navbar .links .open {
    display: block;
  }

  .main-navbar .logo img {
    width: 300px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.dropdown-button:hover {
  color: #ccc;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}