:root {
  --primary-color: #104484;
  --accent-color: #8fb8ea;
  --secondary-color: #1f1f1f;
  --tertiary-color: #ffffff;
  --select-color: #fafafa;
  --gray-color: #888888;

  /* blue button color call to action */
  --cta-color: #1f1f1f;

  --primary-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
  --secondary-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input, select {
  color: black;
}

body {
  overflow-y: hidden;
}

.page-content {
  display: flex;
  flex-direction: column;
  margin: 10vh 0;
  gap: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

hr {

  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  height: 7px;
  margin-bottom: 20px;

}

.block {
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
}

h2 {
  font-size: clamp(1.5rem, 5vw, 2rem);
}

h3 {
  font-size: clamp(1rem, 5vw, 1.5rem);
}

p {
  font-size: clamp(1rem, 5vw, 1.25rem);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal {
  background: white;
  max-width: 80vw;
  max-height: 80vh;
  width: 500px;
  height: 400px;
  overflow: auto;
  border: none;
  border-radius: 5px;

  box-shadow: var(--primary-box-shadow);
}

.Loading {
  /* display: flex; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color:rgba(0, 0, 0, 0.025);

  width: 100%;
  height: 100%;
  gap: 10px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: var(--primary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

